
<h1>Contacts List</h1>

<ul>
  <% @contacts.each do |contact| %>
    <div class="row">
      <a href="/contacts/<%= contact.id.to_i %>" >
      <%= contact.last_name %>, <%= contact.first_name %>
      [<%= contact.email %>]</a>
    </div>
  <% end %>
</ul>
