<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= @@crm_app_name %> :: Contacts</title>
</head>
<body>
  <h1>Contacts</h1>
  <ul>
    <li><a href="/contacts/new">Add New Contact</a></li>
  </ul>
</body>
</html>