<div class="jumbotron">
  <div class="container">
  <h1>Welcome to <%= @@crm_app_name %></h1>
  <p><%= @@crm_app_name %> is a simple tool to store contact information on the web.  It has been built using <a href="https://www.ruby-lang.org/en/">Ruby 2.2.0</a>, <a href="http://www.sinatrarb.com/">Sinatra</a> &amp; <a href="http://getbootstrap.com/">Twitter Bootstrap</a>.  Made possible with accelerated learning by <a href="https://twitter.com/search?src=typd&q=%23teamgibson">#TeamGibson</a> @ <a href="http://bitmakerlabs.com">Bitmaker Labs</a>.</p>
  <p><a class="btn btn-primary btn-lg" href="/contacts" role="button">Log In</a></p>
  <p><a class="btn btn-primary btn-lg" href="/contacts" role="button">Sign Up</a></p>
  </div>
</div>